<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>876070726059-fbflca7kk5j7od62ftrq1gpevpoqfcpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876070726059-fbflca7kk5j7od62ftrq1gpevpoqfcpb</string>
	<key>API_KEY</key>
	<string>AIzaSyDd50EIuei9M2zOKhnAwWwntUWUKpVgkno</string>
	<key>GCM_SENDER_ID</key>
	<string>876070726059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vitalykuzenkov.Assignment-2-Bubble-Game</string>
	<key>PROJECT_ID</key>
	<string>iosbubblegame</string>
	<key>STORAGE_BUCKET</key>
	<string>iosbubblegame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:876070726059:ios:1fcef48962db4dbc</string>
	<key>DATABASE_URL</key>
	<string>https://iosbubblegame.firebaseio.com</string>
</dict>
</plist>